{% extends 'layout.html' %}

{% set active_page = 'register' -%}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {# Если пользователь не прошел опрос #}
    {% if not session['allow_registration'] %}
        {% from '/includes/_formhelpers.html' import render_field %}
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-8">
                <div class="card">
                    <form
                            action="/survey-redirect"
                            method="POST"
                            autocomplete="off"
                            class="needs-validation p-5"
                            novalidate
                    >
                        <h1 class="display-6 mb-4">Регистрация</h1>
                        <p class="lead mb-5">Для регистрации необходимо пройти опрос. Перейдите по ссылке, которую вам
                            выдал администратор, либо введите номер опроса ниже, чтобы пройти опрос.</p>

                        {{ render_field(form.survey_id) }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Перейти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {# Если пользователь прошел опрос #}
    {% else %}
        {% from '/includes/_formhelpers.html' import render_field %}
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-6">
                <div class="card">
                    <form action="" method="POST" autocomplete="off" class="needs-validation p-5" novalidate>
                        <h1 class="mb-4 display-6">Регистрация</h1>
                        <div class="row">
                            <div class="col-12">
                                {{ render_field(form.name) }}
                            </div>
                            <div class="col-12">
                                {{ render_field(form.email) }}
                            </div>
                            <div class="col-12">
                                {{ render_field(form.password) }}
                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary mt-3" type="submit">Зарегистрироваться</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}