{% macro render_field(field) %}
    {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
        {{ field }}
    {% else %}

        <div class="form-group mb-4">

            <label for="{{ field.id }}" class="form-label">{{ field.label.text|safe }}</label>

            {% if field.errors %}
                {% set class_ = 'form-control is-invalid' %}
            {% else %}
                {% set class_ = 'form-control' %}
            {% endif %}

            {{ field(placeholder=field.description, class_=class_, **kwargs) }}

            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}

        </div>

    {% endif %}
{% endmacro %}
